body {
    font-family: Arial;
    margin: 0;
    background: #0f172a;
    color: white;
    text-align: center;
}

header {
    background: #1e293b;
    padding: 20px;
}

.top-text {
    font-size: 12px;
    color: gray;
}

section {
    padding: 50px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #38bdf8;
    cursor: pointer;
}

.card {
    background: #1e293b;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}